/*Universal styles*/

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Merriweather', serif;
	font-size: 15px;
	color: #777;
}

/*Mobile layout styles*/

/*Header styles*/

header {
	text-align: center;
	padding: 1.5em 0;
	background: #2D3945;
}

header h1 {
	margin: 0;
	font-size: 1.3em;
	color: white;
}

/*Title styles*/

.form-title {
	width: 90%;
	margin: 2em auto;
	padding-bottom: 1.7em;
	text-align: center;
	border-bottom: 4px solid black;
}

.form-title:after {
	content: "";
	display: block;
	position: relative;
	left: 0;
	bottom: -2.3em;
	width: 100%;
	height: 2px;
	background: black;
}

.form-title h2,
.form-title p {
	margin: 0;
}

.form-title h2 {
	font-size: 1.3em;
	margin-bottom: 0.5em;
	color: black;
}

/*Form styles*/

form {
	width: 90%;
	margin: 0 auto;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.number {
	display: none;
}

/*The first fieldset*/

fieldset:first-child {
	padding-bottom: 0.6em;
	border-bottom: 2px solid black;
	margin-bottom: 1.7em;
}

fieldset legend {
	display: block;
	margin-bottom: 1.3em;
	font-weight: bold;
	font-size: 1.25em;
	color: black;
}

label {
	display: block;
	margin-bottom: 1em;
}

fieldset:first-child input,
input[type="email"],
input[type="tel"],
textarea,
select {
	background: rgba(255,255,255,.1);
	border: 2px solid #e8eeef;
	border-radius: 0.3em;
	height: auto;
	margin: 0;
	outline: 0;
	padding: 13px;
	width: 100%;
	background-color: #e8eeef;
	color: #8a97a0;
	box-shadow: 0 1px 0 rgba(0,0,0,.03) inset;
	margin-bottom: 1.5em;
}

fieldset:first-child input:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
	border: 2px solid lightgreen;
	transition: 0.5s;
	background: white;
	color: green;
}

/*Style the placeholder*/

input[placeholder]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	text-align: right;
	font-style: italic;
	font-size: 0.8em;
}

input[placeholder]::-moz-placeholder { /* Firefox 19+ */
	text-align: right;
	font-style: italic;
	font-size: 0.8em;
}

input[placeholder]:-moz-placeholder { /* Firefox 18- */
	text-align: right;
	font-style: italic;
	font-size: 0.8em;
}

input[placeholder]:-ms-input-placeholder { /* IE 10+ */
	text-align: right;
	font-style: italic;
	font-size: 0.8em;
}

fieldset:first-child input[id="zip"],
fieldset:first-child input[id="fingers"] {
	width: 50%;
}

/*The second fieldset*/

fieldset:nth-child(2) legend {
	margin-bottom: 0.8em;
}

fieldset:nth-child(2) label {
	margin: 0.7em 0;
}

fieldset:nth-child(2) .label-name {
	margin: 1.2em 0;
}

label.light{
	display: inline-block;
	margin: 0;
}

	/*Style the checkbox icons*/

	input[type="checkbox"] {
		display: none;
	}

	input[type="checkbox"] + label span {
		display: inline-block;
		width: 19px;
		height: 19px;
		margin: -1px 5px 0 0;
		vertical-align: middle;
		background: url(../images/css/check_radio_sheet.png) left top no-repeat;
		cursor: pointer;
	}

	input[type="checkbox"]:checked + label span {
		background: url(../images/css/check_radio_sheet.png) -19px top no-repeat;
	}

	/*END Style the checkbox icons*/

	/*Style the radio icons*/

	input[type="radio"] {
		display: none;
	}

	input[type="radio"] + label span {
		display: inline-block;
		width: 19px;
		height: 19px;
		margin: -1px 5px 0 0;
		vertical-align: middle;
		background: url(../images/css/check_radio_sheet.png) -38px top no-repeat;
		cursor: pointer;
	}

	input[type="radio"]:checked + label span {
		background: url(../images/css/check_radio_sheet.png) -57px top no-repeat;
	}

	/*END Style the radio icons*/

textarea {
	resize: none;
	height: 7em;
}

button {
	padding: 19px 39px 18px 39px;
	color: #FFF;
	background-color: #4EBBB5;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	border-radius: 5px;
	width: 100%;
	border: 1px solid #3DB9B1;
	border-width: 1px 1px 3px;
	box-shadow: 0 -1px 0 rgba(255,255,255,.1) inset;
	margin-bottom: 1em;
}

button:focus {
	background: #FFFF66;
	border: 1px solid #FFFF00;
	border-width: 1px 1px 3px;
	color: #333;
	outline: none;
}

.copyright {
	text-align: center;
	margin-bottom: 0;
	padding-bottom: 15em;
	font-size: 0.9em;
	font-style: italic;
}

/*Tablet layout styles*/
@media screen and (min-width: 760px) {

	body {
		color: #111;
	}

	header { /*Sticky header*/
		position: fixed;
		width: 100%;
		top: 0px;
		z-index: 1000;
	}

	main {
		max-width: 670px;
		margin: 0 auto;
		background: #f4f7f8;
		margin-top: 69px;
	}


	.form-title {
		margin-top: 0;
		padding-top: 4em;
		margin-bottom: 3em;
		padding-bottom: 2.7em;
	}

	.form-title h2 {
		font-size: 1.5em;
	}

	.number {
		background: #4EBBB5;
		color: white;
		height: 30px;
		width: 30px;
		display: inline-block;
		font-size: 0.8em;
		margin-right: 7px;
		line-height: 30px;
		text-align: center;
		text-shadow: 0 1px 0 rgba(255,255,255,.2);
		border-radius: 100%;
	}

	.form-title:after {
		bottom: -3.3em;
	}

	.contact-info {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
	}

	fieldset:first-child label {
		width: 27%;
	}

	fieldset:first-child input,
	fieldset:first-child select {
		width: 73%;
	}

	fieldset:first-child input[id="zip"],
	fieldset:first-child input[id="fingers"] {
		width: calc(.35 * 73%);
	}

	fieldset:first-child .compensation {
		width: calc(.65 * 73%);
	}

	fieldset:first-child {
		padding-bottom: 1.5em;
		margin-bottom: 3em;
	}

	.newsletter {
		display: flex;
		flex-flow: row wrap;
	}

	label {
		width: 50%;
	}

	.label-name {
		width: 100%;
	}
}

/*Desktop layout styles*/
@media screen and (min-width: 1024px) {

	main {
		max-width: 920px;
	}

	fieldset:first-child label {
		width: 30%;
	}

	fieldset:first-child input,
	fieldset:first-child select {
		width: 70%;
	}

	fieldset:first-child input[id="zip"],
	fieldset:first-child input[id="fingers"] {
		width: calc(.5 * 70%);
	}

	fieldset:first-child .compensation {
		width: calc(.5 * 70%);
	}

	label {
		width: calc(100% / 3);
	}

}
